@import "tailwindcss";
@reference "tailwindcss";

html {
  @apply bg-gray-950 text-gray-100;
  color-scheme: dark;
}

html:not(.dark) {
  @apply bg-white text-gray-900;
  color-scheme: light;
}

*, *::before, *::after {
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}