@import "tailwindcss";
@reference "tailwindcss";

html {
  @apply bg-gray-950 text-gray-100;
  color-scheme: dark;
}

html:not(.dark) {
  @apply bg-gray-50 text-gray-900;
  color-scheme: light;
}

*, *::before, *::after {
  @apply transition-colors duration-200;
}

.bg-white {
  @apply bg-gray-900 dark:bg-white;
}
.bg-gray-100 {
  @apply bg-gray-900 dark:bg-gray-100;
}